.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: .15fr .85fr;
    gap: 20px;
}

.card-container {
    padding: 20px;
    height: inherit;
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 30px;
}

@media only screen and (max-width: 1000px) {
    .main-section{
        grid-template-columns: 1fr;
    }
}