.modal-background {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    height: 700px;
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-header {
    font-size: 3em;
}


.modal-description-container {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.modal-rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.modal-rating-stars {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-rating-stars img {
    height: 100%;
}