.modal-background {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    height: 700px;
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-header {
    font-size: 3em;
}

.modal-img {
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.modal-img:hover .arrow-left, .modal-img:hover .arrow-right {
    visibility: visible;
}

.arrow-left, .arrow-right {
    visibility: hidden;
    height: 50px;
    width: auto;
    position: absolute;
    cursor: pointer;
}

.arrow-left {
    left: 0px;
    top: 40%;
}

.arrow-right {
    right: 0px;
    top: 40%;
}

.modal-description-container {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.modal-description {
    height: 60%;
    overflow: auto;
    ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 2px solid black;
    box-shadow: 0px 5px 5px -2px black;
}

.modal-description::after {
    background-image: linear-gradient(transparent, rgb(15,15,15));
}

.modal-description::-webkit-scrollbar {
    display: none;
}

.modal-rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.modal-rating-stars {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-rating-stars img {
    height: 100%;
}