html {
    --fifty: #f8fafc;
    --one: #f1f5f9;
    --two: #e2e8f0;
    --three: #cbd5e1;
    --four: #94a3b8;
    --five: #64748b;
    --six: #475569;
    --seven: #334155;
    --eight: #1e293b;
    --nine: #0f172a;
    --nineFifty: #020617;
    --textDark: #0f172a;
    --textLight: #f1f5f9;
    --eightTransparent: #1e293bE6;
    --shadow: 5px 5px .3em .1em rgba(0,0,0,.5);
}