.footer {
    color: var(--three);
    background-color: var(--seven);
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    height: 30px;
}