body {
    background-color: var(--four);
    margin: 0;
}

.App {
    position: relative;
    display: grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 64px 400px 600px;
    gap: 10px;
    grid-template-areas: 
        " nav nav "
        "hero hero"
        "sidebar allGameRows"
        "sidebar allGameRows" ;
}

.nav {
    grid-area: nav;
}

.hero {
    grid-area: hero;
}

.sidebar {
    grid-area: sidebar;
}

.all-game-rows {
    grid-area: allGameRows;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-right: 100px;
}