body {
    background-color: var(--four);
}

.App {
    display: grid;
    grid-template-columns: 100px 200px 1fr 100px;
    grid-template-rows: 64px 400px auto;
    gap: 10px;
    grid-template-areas: 
        "... nav nav ..."
        "... hero hero ..."
        "... sidebar gameRowContainer ..."
        "... sidebar gameRowContainer ..." ;
}

.nav {
    grid-area: nav;
}

.hero {
    grid-area: hero;
}

.sidebar {
    grid-area: sidebar;
}

.game-row-container {
    grid-area: gameRowContainer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}