body {
    background-color: var(--four);
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    position: relative;
    display: grid;
    grid-template-columns:1400px;
    grid-template-rows: 64px 1fr 50px;
    gap: 10px;
    grid-template-areas: 
        "nav"
        "home"
        "footer"
        ;
}

.nav {
    grid-area: nav;
}

.hero {
    grid-area: hero;
}

.home {
    grid-area: home;
}

.sidebar {
    grid-area: sidebar;
}

.all-game-rows {
    grid-area: allGameRows;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    gap: 5px;
}

.footer {
    grid-area: footer;
}