.nav {
    background-color: var(--seven);
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* all buttons styling */
.nav-btn, .search-btn, .cart-btn {
    background-color: var(--nine);
    border: none;
    color: var(--fifty);
    border-bottom: 3px solid var(--six);
    border-right: 3px solid var(--six);
}

.nav-btn:hover, .search-btn:hover, .cart-btn:hover {
    background-color: var(--six);
    cursor: pointer;
}

.nav-btn-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-btn {
    width: 200px;
    height: 30px;
}



.search-container {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

.search-btn {
    width: 100px;
}

.cart-btn {
    width: 120px;
    top: -20px;
    right: 0px;
    position: absolute;
}
