.nav {
    background-color: var(--seven);
    height: 64px;
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo buttons search";
    gap: 20px;
    box-shadow: var(--shadow);
}

.logo {
    height: 100%;
    width: 200px;
    grid-area: logo;
}

/* all buttons styling */
.nav-btn, .search-btn, .cart-btn {
    background-color: var(--nine);
    border: none;
    color: var(--fifty);
    border-bottom: 3px solid var(--six);
    border-right: 3px solid var(--six);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn:hover, .search-btn:hover, .cart-btn:hover {
    background-color: var(--six);
    cursor: pointer;
}

.nav-btn-container {
    grid-area: buttons;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    gap: 20px;
    grid-auto-columns: .8fr;
}

.nav-btn {
    height: 30px;
}



.search-container {
    grid-area: search;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

.search-bar {
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

.search-btn {
    width: 100px;
    height: 30px;
}

.search-results {
    /* visibility: hidden; */
    z-index: 8;
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    top: 63px;
}

.search-result{
    width: 100%;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-result:hover {
    background-color: var(--two);
    cursor: pointer;
}

.search-result {
    text-decoration: none;
    color: var(--nine);
}

.search-result-text {
    margin-left: 10px;
}

.cart-btn {
    width: 120px;
    top: -20px;
    right: 0px;
    position: absolute;
}
