.results-container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1200px;
    grid-template-rows: 64px 1fr ;
    gap: 10px;
    grid-template-areas:
        "nav nav"
        "sidebar allGameRows"
        "sidebar allGameRows"
        "sidebar allGameRows";
}

.sidebar {
    grid-area: sidebar;
}

