.results-container {
    position: relative;
    display: grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 64px 400px 400px;
    gap: 10px;
    grid-template-areas:
        "nav nav"
        "sidebar allGameRows"
        "sidebar allGameRows";
}

.sidebar {
    grid-area: sidebar;
}

