.slideshow-container {
    display: grid;
    grid-template-rows: 400px 135px;
    grid-template-columns: 1fr;
    gap: 10px;
}

.main-image {
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

.image-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 150px;
}

.image-thumb {
    width: 200px;
    height: 145px;
    border: 2px solid var(--seven);
}

.image-thumb:hover {
    border: 2px solid var(--fifty);
    cursor: pointer;
}