.slideshow-container {
    display: grid;
    grid-template-rows: 400px 135px;
    grid-template-columns: 1fr;
    gap: 10px;
}

.main-image {
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bolder;
}

.image-container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    overflow-x: auto;
}

.image-thumb {
    width: 200px;
}