.small-card {
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: transform, background-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    /* transition-property: transform, background-size;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; */
}

.small-card:hover {
    transform: scale(300px, 300px);
    cursor: pointer;
}