html {
    --fifty: #f9fafb;
    --one: #f3f4f6;
    --two: #e5e7eb;
    --three: #d1d5db;
    --four: #9ca3af;
    --five: #6b7280;
    --six: #4b5563;
    --seven: #374151;
    --eight: #1f2937;
    --nine: #111827;
    --nineFifty: #030712;
}

body {
    background-color: var(--fifty);
    color: var(--nine);
}

.nav {
    background-color: var(--four);
}

.sidebar {
    background-color: var(--four);
}

.card {
    background-color: var(--nine);
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    background-color: var(--three);
}